{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-5">
                <header class="text-center mb-4">
                    <h2 class="h2">Login</h2>
                </header>

                <form action="{{ path('login') }}" method="post" class="shadow">
                    <div class="border border-primary rounded-top border-bottom-0 p-4">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="mb-4">
                            <label for="username" class="form-control-label">Email</label>
                            <input name="_username" id="username"
                                   class="form-control"
                                   type="text" placeholder="Email Address" value="{{ last_username }}" required
                                   autofocus/>
                        </div>

                        <div class="mb-4">
                            <label for="password" class="form-control-label">Password:</label>
                            <input id="password" name="_password"
                                   class="form-control"
                                   type="password" placeholder="Password" required>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <small class="form-text text-muted">
                                <label class="text-black-50">
                                    <input type="checkbox" name="_remember_me" checked>
                                    Keep signed in
                                </label>
                                </small>
                            </div>
                            <div class="col text-right">
                                <small class="form-text"><a
                                            href="{{ path('forgot_password') }}">Forgot password?</a></small>
                            </div>
                        </div>

                    </div>
                    <div class="border border-primary rounded-bottom p-4 text-center">
                        <button class="btn btn-md btn-block btn-primary" type="submit">Login</button>
                        <small class="form-text text-muted  pt-4">Don't have an account? <a
                                    href="{{ path('user_registration') }}">sign-up</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
